body{
    background-color: rgb(192, 250, 231);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#first{
    margin:50px;
    padding:50px;
    background-image: linear-gradient(35deg,rgb(142, 212, 255),pink);
    text-align: center;
}

#Grade{
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2rem;
    color: white;
    padding-bottom: 30px;
}

#second{
    background-image: radial-gradient(rgb(99, 94, 94),white);
    margin:60px;
    padding:30px;
    margin-top: 0;
}

header{
    display: flex;
    justify-content: center;
}

header div{
    background-color: azure;
    padding:4px;
    margin:10px;
}

#third{
    background-image: linear-gradient(45deg,rgb(120, 120, 229),rgb(255, 64, 0));
    margin:60px;
    padding:30px;
    margin-top: 0;
    text-align: center;
}

table{
    width: 100%;
    border: 2px solid white;
    color: white;
}